In [1]:
import sys

In [7]:
import numpy as np

In [8]:
kesho = np.array([1,2,3,5])

In [10]:
print(kesho)

[1 2 3 5]

In [18]:
myCheques = "EQUITY"

In [19]:
#Variables hold data in memory that can be used later
#Perform operations for addition
theplace = 600
CBD = 1400

print(theplace + CBD)

2000

In [20]:
#the variable my string holds the sting Tomorrow we find out our next president
#string function holds data that is in "" quotes
#to get the output of the string we have to call the variable mystring inside a print function
mystring = 'Tomorrow we find out our next president'

print(mystring)

Tomorrow we find out our next president

In [11]:
yesterday,today,tomorrow = 15000,30.67,"45000"

print(yesterday)
print(today)
print(tomorrow)

15000
30.67
45000

In [29]:
print(yesterday,today,tomorrow)

15000 30.67 45000

In [22]:
print(today)

30.67

In [23]:
#decimans are known as float
print(type(today))

<class 'float'>

In [24]:
print(tomorrow)

45000

In [26]:
#numerical data in quotes is still refered to as string
print(type(tomorrow))

<class 'str'>

In [27]:
x = 4500
y = 5000

In [28]:
#you cannot add an integer to a string as seen in the error below
print(x+y+myCheques)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
print(x+y)

9500

In [31]:
#this is knows as string slicing
#the point at which the slice selection stops is not necessarily selected but the one just before is
print(myCheques[2:5])

UIT

In [36]:
#A function in this case 'capitalize()' has been called in to perform a particular function
#so as to change my string
print(myCheques.capitalize())

Equity

In [37]:
myCaps = myCheques.capitalize()

In [38]:
print(myCaps)

Equity

In [14]:
#this is an example of a list
#a list must have square brackets [] and comas
#lists are used to store multiple items

shoppingList = ["chicken","bread","milk","water","fruits","cooking oil","napkins"]

In [15]:
shoppingList

['chicken', 'bread', 'milk', 'water', 'fruits', 'cooking oil', 'napkins']

In [16]:
print(type(shoppingList))

<class 'list'>

In [17]:
print(len(shoppingList))

7

In [18]:
#this command is for accessing the items inside a list

print(shoppingList[2])

milk

In [19]:
#this command is done when returning a range of items inside a list.
#very similar to string slicing but list slicing

print(shoppingList[2:6])

['milk', 'water', 'fruits', 'cooking oil']

In [26]:
#this command is used when you want to return a list list of items from a specific number up until the last item


print(shoppingList[2:])

['milk', 'water', 'fruits', 'cooking oil', 'napkins', 'soap']

In [34]:
#when changing an item that is inside a list, you have to reference the index location. 
#In this case [1]. Then asign a new value to it
shoppingList[1] = "soda"

print(shoppingList)

['chicken', 'soda', 'milk', 'water', 'fruits', 'cooking oil', 'napkins', 'soap', 'soap', 'flour', 'flour']

In [50]:
#this command is used to add on to an already existing list
#The more times it is run the more it adds the repeated item(s)
shoppingList.append("flour")

In [39]:
print(shoppingList)

['chicken', 'soda', 'milk', 'water', 'fruits', 'cooking oil', 'napkins', 'soap', 'soap', 'flour', 'flour', 'flour', 'flour', 'flour']

In [51]:
#this command is used to remove items from an already existing list. 
#The more times it is run the more it removes the repeated item(s)
shoppingList.remove("flour")

In [47]:
print(shoppingList)

['chicken', 'soda', 'milk', 'water', 'fruits', 'cooking oil', 'napkins', 'soap', 'soap', 'flour']

In [48]:
shoppingList.remove("soap")

In [49]:
print(shoppingList)

['chicken', 'soda', 'milk', 'water', 'fruits', 'cooking oil', 'napkins', 'soap', 'flour']

In [64]:
#the for loop command is used to check vakues inside a list. One by one, until a certain condition is met

for myList in range(len(shoppingList)):
    print(shoppingList[myList])

chicken
soda
milk
water
fruits
cooking oil
napkins
soap
flour

In [65]:
#the if command is used when you want to prove is something is true or false
if "soda" in shoppingList:
    print("yes")m

yes

In [66]:
#Kiwi did not print because it is not part of the list. It has not met the condition
if "kiwi" in shoppingList:
    print("yes")

In [63]:
#two equals are used to compare to things. In this case myList to the napkins
#breaking is used to stop the for loop(checking one by one)
#for loop is used to check one by one items in the list, if is used to check is something is there and break to stop

for myList in shoppingList:
    print(myList)
    if myList == "napkins":
        break

chicken
soda
milk
water
fruits
cooking oil
napkins

In [67]:
#the sort command is used to arrange items in order of alphabet or numbers
#where there are numbers they wioll be considered else the alphabet
shoppingList.sort()
print(shoppingList)

['chicken', 'cooking oil', 'flour', 'fruits', 'milk', 'napkins', 'soap', 'soda', 'water']

In [68]:
#if you want to sort from last to first
shoppingList.sort(reverse= True)
print(shoppingList)

['water', 'soda', 'soap', 'napkins', 'milk', 'fruits', 'flour', 'cooking oil', 'chicken']

In [70]:
#This is how one can join lists
#A list mist be in quotes("") unless it is a number as seen below

myFirstlist = [20,30,40,50,60]
mySecondlist = ["A","E","I","O","U"]
myThirdlist = myFirstlist + mySecondlist

print(myThirdlist)

[20, 30, 40, 50, 60, 'A', 'E', 'I', 'O', 'U']

In [1]:
#Sautisol holds that list/the songs they have sang
#alikiba has featured in those songs
#what is seen in this code is copying
#List is the command sed for copying

sautiSol = ["sura yako","lazizi","sober","mama papa"]
aliKiba = list(sautiSol)
print(sautiSol)

['sura yako', 'lazizi', 'sober', 'mama papa']

In [2]:
print(aliKiba)

['sura yako', 'lazizi', 'sober', 'mama papa']

In [5]:
#copying can also be called out using the tab command then copy
sautiSol = ["sura yako","lazizi","sober","mama papa"]
aliKiba = sautiSol.copy()
print(sautiSol)

['sura yako', 'lazizi', 'sober', 'mama papa']

In [6]:
print(aliKiba)

['sura yako', 'lazizi', 'sober', 'mama papa']

In [8]:
#a list has angle brackets and a tuple has smooth brackets
myTuple = ('nairobi','mombasa','kisumu','nakuru')
print(myTuple)

('nairobi', 'mombasa', 'kisumu', 'nakuru')

In [9]:
print(type(myTuple))

<class 'tuple'>

In [10]:
print(len(myTuple))

4

In [11]:
print(myTuple[2])

kisumu

In [12]:
#this is how you append a tuple
#Kindly note that you have to change the tuple to a list, add then change back into a tuple

metropolitanAreas = list(myTuple)
metropolitanAreas.append('kajiado')
myTuple = tuple(metropolitanAreas)

print(myTuple)

('nairobi', 'mombasa', 'kisumu', 'nakuru', 'kajiado')

In [13]:
#Similarly if you want to remove something from a tuple, you have to change the tuple to a list, add then change
metropolitanAreas = list(myTuple)
metropolitanAreas.remove('kajiado')
myTuple = tuple(metropolitanAreas)

print(myTuple)

('nairobi', 'mombasa', 'kisumu', 'nakuru')

In [15]:
#this is a set
#similar to a list or tuple but uses {}
#used to store things that are not in order
myPlace = {'Kileleshwa','Westlands','Kilimani','Lavington'}
print(myPlace)

{'Westlands', 'Lavington', 'Kilimani', 'Kileleshwa'}

In [17]:
print(type(myPlace))

<class 'set'>

In [25]:
#this is a dictionary
#stores things in keys and value("":"",) 
#we use the set brackets
laptop = {
    "brand":"HP Elite",
    "RAM":"8GB",
    "storage":"256GB",
    "storage type":"SSD"   
}
print(laptop)
print(type(laptop))

{'brand': 'HP Elite', 'RAM': '8GB', 'storage': '256GB', 'storage type': 'SSD'}
<class 'dict'>

In [26]:
#how we access a dictionary
#this happens when we wan tot find out the vale of the key
print(laptop["storage type"])

SSD

In [28]:
#when you want to add items into the dictionary
laptop["colour"] = "rose gold"
print(laptop)

{'brand': 'HP Elite', 'RAM': '8GB', 'storage': '256GB', 'storage type': 'SSD', 'colour': 'rose gold'}

In [29]:
#this is the longer version of adding an item into a dictionary
laptop.update({"battery":"12"})
print(laptop)

{'brand': 'HP Elite', 'RAM': '8GB', 'storage': '256GB', 'storage type': 'SSD', 'colour': 'rose gold', 'battery': '12'}

In [33]:
#pop command is used to remove an item from a dictionary
laptop.pop("battery")
print(laptop)

{'brand': 'HP Elite', 'RAM': '8GB', 'storage': '256GB', 'storage type': 'SSD', 'colour': 'rose gold'}

In [1]:
#a class is a foundation which helps one manipulate data in this case dog
#def helps us define the functions/methods inside a class
#init used to define further

class dog:
    #species in this case is a class attribute/characteristic
    species = "canis familiaris"
    
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [7]:
#this is an instace of the class dog and the variable bosco holds the data af the age and the name of the class characters
#instace can also mean recalling the class in order to use it
#we can not only instanciate a clas but a funtion as well

bosco = dog("bosco", 10) 

bosco.name

'bosco'

In [8]:
bosco.age

10

In [9]:
print(bosco.name)
print(bosco.age)

bosco
10

In [10]:
snookie = dog("snookie", 18)

print(snookie.name, snookie.age)

snookie 18

In [6]:
snookie.species

'canis familiaris'

In [1]:
class cars:
    def __init__(self, brand, engine, speed, colour, cc):
        self.brand = brand
        self.engine = engine
        self.speed = speed
        self.colour = colour
        self.cc = cc

In [3]:
car = cars("rangerover","v-8","155 mph","rosegold","2997")
print(car.brand, car.engine,car.speed,car.colour, car.cc)

rangerover v-8 155 mph rosegold 2997

In [13]:
class dog:
    
    #species in this case is a class attribute/characteristic
    #we use f to wrap a strinf and the cali brackets to reference something inorder to make it a sentence
    species = "canis familiaris"
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
        #this is an instance method
    def description(self):
        return f"{self.name} is {self.age} years old"
    
        #this is another instance method
    def speak(self,sound):
        return f"{self.name} says {sound}"

In [14]:
bosco = dog("Bosco", 9)

In [15]:
#here we have instanciated a function 'description'
bosco.description()

'Bosco is 9 years old'

In [16]:
bosco.speak("Woof")

'Bosco says Woof'

In [17]:
class building:
    def __init__(self, floor_name, floor_use, floor_number):
        self.floor_name = floor_name
        self.floor_use = floor_use
        self.floor_number = floor_number

In [18]:
class building:
    def __init__(self, floor_name, floor_use, floor_number):
        self.floor_name = floor_name
        self.floor_use = floor_use
        self.floor_number = floor_number
        
    def description(self):
        return f"{self.floor_name} is located in Paramoun Plaza and hosts the{self.floor_use}"

In [19]:
#codes check from top to bottom
#what was contained in this cell was typed before the above cell but had to be carried down
floor1 = building("floor1","buildings management",1)
floor2 = building("floor2","law firms and microfinance",2)
floor3 = building("floor3","ubunifu college",3)

In [20]:
floor1.description()

'floor1 is located in Paramoun Plaza and hosts thebuildings management'

In [21]:

bosco = dog("bosco", 10)
wiper = dog("wiper",9)
jubilee = dog("jubilee",13)
osama = dog("osama",14)

In [22]:
osama.description()

'osama is 14 years old'

In [24]:
#how we create sub classes. A class withing a class
#parent class and children classes
#the super command is used to access the members inside this class
#this is a sub class of class dog
class osama(dog):
    def speak(self, sound="bomb"):
        return super().speak(sound)