In [1]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.jumia.co.ke/smart-tvs-2282/samsung/#catalog-listing'

response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

# Find all the elements with the class "item"
items = soup.find_all(class_='name')
item_prices = soup.find_all(class_='prc')


allitems = []
for item in items:
    allitems.append(item.text)
# print(allitems)

itemlist = list(allitems)


prices = []
for price in item_prices:
    prices.append(price.text)
# print(prices)

pricelist = list(prices)


myitem = list(zip(itemlist, pricelist))
myitem

[('Samsung UA32T5300AU,32" Inch Smart HD TV Series 5 Inbuilt WIFI +FREE GIFTS',
  'KSh 25,999'),
 ("Samsung 55BU8000 55'' 4K CRYSTAL UHD SMART TV, NETFLIX, YOUTUBE-2022",
  'KSh 75,599'),
 ('Samsung 43 INCH 43T5300 Smart LED Full HD TV - Black', 'KSh 43,599'),
 ('Samsung 40T5300 - 40" FULL HD SMART TV, NETFLIX, YOUTUBE - Black',
  'KSh 38,599'),
 ("Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV, Netflix (2021),",
  'KSh 63,799'),
 ('Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Youtube, Netflix-Black',
  'KSh 58,880'),
 ('Samsung UA32T5300AU,32" Inch Smart HD TV HDR 5Series,NetflixYoutube',
  'KSh 24,899'),
 ('Samsung 50BU8000, 50 Inch Crystal UHD 4K Smart TV (2021) - Black',
  'KSh 68,499'),
 ("Samsung 40'' FULL HD SMART TV, NETFLIX, YOUTUBE UA40T5300AU", 'KSh 36,000'),
 ("Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV, Netflix (2022),",
  'KSh 68,799'),
 ('Samsung 50 Inch Crystal UHD 4K Smart TV (2021)  50AU8000 - Black',
  'KSh 82,489'),
 ('Samsung 50BU8000 50 Inches Crystal UHD 4K Smart TV (2022)', 'KSh 70,499'),
 ('Samsung 55AU7000, 55 INCH 4K UHD Smart TV, Youtube, Netflix-Black',
  'KSh 64,979'),
 ('Samsung QA65Q60B 65 Inches Class Q60B QLED 4K Smart TV (2022)',
  'KSh 190,000'),
 ('Samsung 40T5300 40 Inch Smart FHD TV Ultra Clean View HDR PURCOLOR+FREE GIFTS',
  'KSh 41,999'),
 ('Samsung 43 INCH 43T5300 Smart LED Full HD TV - Black', 'KSh 42,199'),
 ('Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV (2022)', 'KSh 218,000'),
 ('Samsung 32T5300 32 Inch Smart Full HD TV HDR Series', 'KSh 28,999'),
 ('Samsung 65" QLED TV QA65Q60BAUXKE - 4K, QPICTURE, QSTYLE, QSMART',
  'KSh 159,995'),
 ('Samsung 43T5300 Smart Full HD HDR TV ONE YEAR WARRANTY', 'KSh 40,999'),
 ('Samsung 55BU8000 AU8000 CRYSTAL UHD 4K SMART TV [ 2021 MODEL]',
  'KSh 69,999'),
 ("Samsung 50BU8000 50'' 4K CRYSTAL ULTRA HD SMART TV, NETFLIX, YOUTUBE SERIES 8",
  'KSh 63,799'),
 ("Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NETFLIX, YOUTUBE SERIES 8 -43BU8000 (2022)",
  'KSh 59,489'),
 ('Samsung 43T5300- 43" INCH  Smart LED Full HD TV,NETFLIX,YOUTUBE+2 YEARS WARRANTY',
  'KSh 46,999'),
 ('Samsung 85Q60B 85 Inches Class Q60B QLED 4K Smart TV (2022)',
  'KSh 346,000'),
 ("Samsung 65BU8000 65'' Crystal UHD 4K Smart TV, Netflix, Youtube (2022) - Black",
  'KSh 102,599'),
 ("Samsung 32'' SMART TV, NETFLIX,YOUTUBE SERIES 5 -UA32T5300AU",
  'KSh 33,000'),
 ('Samsung 40T5300 40" Inch Smart FHD TV Ultra Clean View HDR PURCOLOR',
  'KSh 36,795'),
 ('Samsung 85" 4K QLED 2022 LATEST MODEL,VOICE CONTROL,QUANTUM DOT,WI-FI,NETFLIX-85Q60B',
  'KSh 325,000'),
 ("Samsung 32'' Smart Digital Full HD TV-Black Inbuilt Decoder", 'KSh 34,599'),
 ('Samsung 43” 4K CRYSTAL UHD SMART TV,ALEXA VOICE CONTROL,GOOGLE ASSISTANT-43AU7100',
  'KSh 48,000'),
 ('Samsung 65” 4K CRYSTAL UHD LATEST SMART TV,ALEXA VOICE CONTROL,GOOGLE ASSISTANT-65AU8000',
  'KSh 108,000'),
 ('Samsung UA32T5300AU,32" Inch Smart HD TV Series 5 Inbuilt WIFI+FREE TV GUARD+BRACKET',
  'KSh 25,999'),
 ("Samsung 55BU8100 55'' Crystal UHD 4K Smart LED TV (2022)", 'KSh 82,880'),
 ('Samsung 65" 8K QLED SMART TV,BIXBY VOICE CONTROL,QUANTUM DOT,Q-SMPHONY,WI-FI-65QN700B',
  'KSh 410,000'),
 ('Samsung 65" 4K CRYSTAL UHD 2022 LATEST MODEL,VOICE CONTROL,GOOGLE ASSISTANT-65BU8000',
  'KSh 112,000'),
 ('Samsung Galaxy A53 5G, 6.5", 256G + 8GB RAM (Dual SIM)', 'KSh 53,499'),
 ('Samsung QA65Q60BAU 65 Inches Class Q60B QLED 4K Smart TV (2022)',
  'KSh 156,499'),
 ("Samsung 43'' 4K CRYSTAL ULTRA HD(LATEST 2021) SMART TV, NETFLIX, YOUTUBE-43AU7000",
  'KSh 47,999'),
 ("Samsung 55'' 4K CRYSTAL ULTRA HD SMART TV, NETFLIX, YOUTUBE-55AU8000",
  'KSh 92,500')]

In [2]:
import pandas as pd

#converting the above data into a data frame
df = pd.DataFrame({'Brand Samsung': itemlist, 'Price Samsung': pricelist})
df

                                        Brand Samsung Price Samsung
0   Samsung UA32T5300AU,32" Inch Smart HD TV Serie...    KSh 25,999
1   Samsung 55BU8000 55'' 4K CRYSTAL UHD SMART TV,...    KSh 75,599
2   Samsung 43 INCH 43T5300 Smart LED Full HD TV -...    KSh 43,599
3   Samsung 40T5300 - 40" FULL HD SMART TV, NETFLI...    KSh 38,599
4   Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...    KSh 63,799
5   Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Y...    KSh 58,880
6   Samsung UA32T5300AU,32" Inch Smart HD TV HDR 5...    KSh 24,899
7   Samsung 50BU8000, 50 Inch Crystal UHD 4K Smart...    KSh 68,499
8   Samsung 40'' FULL HD SMART TV, NETFLIX, YOUTUB...    KSh 36,000
9   Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...    KSh 68,799
10  Samsung 50 Inch Crystal UHD 4K Smart TV (2021)...    KSh 82,489
11  Samsung 50BU8000 50 Inches Crystal UHD 4K Smar...    KSh 70,499
12  Samsung 55AU7000, 55 INCH 4K UHD Smart TV, You...    KSh 64,979
13  Samsung QA65Q60B 65 Inches Class Q60B QLED 4K ...   KSh 190,000
14  Samsung 40T5300 40 Inch Smart FHD TV Ultra Cle...    KSh 41,999
15  Samsung 43 INCH 43T5300 Smart LED Full HD TV -...    KSh 42,199
16  Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV...   KSh 218,000
17  Samsung 32T5300 32 Inch Smart Full HD TV HDR S...    KSh 28,999
18  Samsung 65" QLED TV QA65Q60BAUXKE - 4K, QPICTU...   KSh 159,995
19  Samsung 43T5300 Smart Full HD HDR TV ONE YEAR ...    KSh 40,999
20  Samsung 55BU8000 AU8000 CRYSTAL UHD 4K SMART T...    KSh 69,999
21  Samsung 50BU8000 50'' 4K CRYSTAL ULTRA HD SMAR...    KSh 63,799
22  Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NET...    KSh 59,489
23  Samsung 43T5300- 43" INCH  Smart LED Full HD T...    KSh 46,999
24  Samsung 85Q60B 85 Inches Class Q60B QLED 4K Sm...   KSh 346,000
25  Samsung 65BU8000 65'' Crystal UHD 4K Smart TV,...   KSh 102,599
26  Samsung 32'' SMART TV, NETFLIX,YOUTUBE SERIES ...    KSh 33,000
27  Samsung 40T5300 40" Inch Smart FHD TV Ultra Cl...    KSh 36,795
28  Samsung 85" 4K QLED 2022 LATEST MODEL,VOICE CO...   KSh 325,000
29  Samsung 32'' Smart Digital Full HD TV-Black In...    KSh 34,599
30  Samsung 43” 4K CRYSTAL UHD SMART TV,ALEXA VOIC...    KSh 48,000
31  Samsung 65” 4K CRYSTAL UHD LATEST SMART TV,ALE...   KSh 108,000
32  Samsung UA32T5300AU,32" Inch Smart HD TV Serie...    KSh 25,999
33  Samsung 55BU8100 55'' Crystal UHD 4K Smart LED...    KSh 82,880
34  Samsung 65" 8K QLED SMART TV,BIXBY VOICE CONTR...   KSh 410,000
35  Samsung 65" 4K CRYSTAL UHD 2022 LATEST MODEL,V...   KSh 112,000
36  Samsung Galaxy A53 5G, 6.5", 256G + 8GB RAM (D...    KSh 53,499
37  Samsung QA65Q60BAU 65 Inches Class Q60B QLED 4...   KSh 156,499
38  Samsung 43'' 4K CRYSTAL ULTRA HD(LATEST 2021) ...    KSh 47,999
39  Samsung 55'' 4K CRYSTAL ULTRA HD SMART TV, NET...    KSh 92,500

In [3]:
import requests
from bs4 import BeautifulSoup

urlVitron = 'https://www.jumia.co.ke/catalog/?q=vitron+tv'

responseVitron = requests.get(urlVitron)

soupVitron = BeautifulSoup(responseVitron.content, 'html.parser')

# Find all the elements with the class "item"
itemVitron = soupVitron.find_all(class_='name')
vitronPricess = soupVitron.find_all(class_='prc')


vitronTvs = []
for vitronTv in itemVitron:
    vitronTvs.append(vitronTv.text)
#print(vitronTvs)

itemlistvitron = list(vitronTvs)


vitronPrices = []
for vitronPrice in vitronPricess:
    vitronPrices.append(vitronPrice.text)
#print(vitronPrices)

pricelistvitron = list(vitronPrices)


myitemVitron = list(zip(vitronTvs, vitronPrices))
myitemVitron

[('Vitron Smart 32" FRAMELESS  Android TV HTC3200S Netflix & Youtube.',
  'KSh 12,999'),
 ('Vitron HTC3218 HD Frameless 32" LED Digital TV Inbuilt Decoder',
  'KSh 10,999'),
 ('Vitron 5568US 55" Inch FRAMELESS 4K UHD Android TV 1.5GBRAM 8GBROM',
  'KSh 42,999'),
 ('Vitron HTC3218 HD Frameless 32" LED Digital TV Inbuilt Decoder',
  'KSh 10,949'),
 ('Vitron 4388FS,43" Inch FRAMELESS Smart Android TV Netflix + 4 GIFTS',
  'KSh 23,999'),
 ('Vitron 4368FS 43" Full HD Smart Android TV Netflix Youtube / 4388FS',
  'KSh 20,999'),
 ('Vitron HTC3218 32 Inch Frameless LED Digital HD TV + Free Extension+Aerial+32GB Flash',
  'KSh 12,899'),
 ('Vitron HTC3218, Frameless 32 Inch Digital LED Television USB HDMI VGA+FREE Wall Bracket',
  'KSh 11,999'),
 ('Vitron HTC3200S,32 Inch Frameless Smart Android TV,InbuiltDecoder Netflix,Appstore',
  'KSh 13,498'),
 ('Vitron 32" Inch Frameless Smart Android TV Inbuilt WIFI+BRACKET+AERIAL+GUARD',
  'KSh 15,899'),
 ('Vitron HTC3200S,32 Inch FRAMELESS Smart Android TV Netflix,Youtube+FREE TVGuard+Bracket',
  'KSh 13,999'),
 ('Vitron 32" Inch LED Digital HD TV + 6 Free Gifts', 'KSh 13,698'),
 ('Vitron 4388FS,43" Inches Frameless Smart Android TV,Youtube,Netflix 1GBRAM,8GBROM',
  'KSh 22,995'),
 ('Vitron 4388FS,43" Inch Frameless Smart Android TV 1GBRAM,8GBROM+ 6 FREE GIFTS',
  'KSh 23,999'),
 ('Vitron HTC3200S,Frameless 32Inch Smart Android TV,Netflix,Youtube + 7 FREE GIFTS',
  'KSh 15,895'),
 ('Vitron 32" LED Digital HD TV Black + FREE 7 Gifts', 'KSh 13,399'),
 ('Vitron Frameless   32" Inches LED Digital TV With  Inbuilt Decoder',
  'KSh 11,450'),
 ('Vitron 24 INCH - Digital LED TV+FREE DTV Aerial+32GB Flash Disk+Audio Cable',
  'KSh 10,399'),
 ('Vitron 32" Inch Frameless Smart Android TV Inbuilt WIFI+16GB FLASH,GUARD',
  'KSh 14,999'),
 ('Vitron 43" Inch-FRAMELESS SMART ANDROID TV,NETFLIX+6GIFTS', 'KSh 23,999'),
 ('Vitron HTC3218,32" Inch Frameless HD Digital LED TV With Inbuilt Decoder+ 3 FREE GIFTS',
  'KSh 12,999'),
 ('Vitron 32" Inch Smart Android Tv,Frameless, Netflix,Youtube + FREE GIFTS',
  'KSh 14,999'),
 ('Vitron HTC3218, Frameless 32 Inch Digital LED TV+Free Wall Bracket',
  'KSh 11,890'),
 ('Vitron 4388FS,43" Inch Frameless Smart Android TV 1GBRAM,8GBROM+ 7 FREE GIFTS',
  'KSh 24,999'),
 ('Vitron 32"Inches Smart Android TV - Black + FREE 7 Gifts', 'KSh 15,999'),
 ('Vitron HTC3200S FRAMELESS 32" Inches Smart Android TV + FREE GIFTS',
  'KSh 14,995'),
 ('Vitron HTC3200S,Frameless 32 Inch Smart Android  TV Netflix Youtube+FREE GIFTS',
  'KSh 14,995'),
 ('Vitron HTC3200S,32" Inch Frameless Smart Android TV,NetflixYoutubePlaystore+FREEBRACKET',
  'KSh 13,999'),
 ('Vitron HTC-3218 32 Inch Digital LED TV USB HDMI + Gifts', 'KSh 13,399'),
 ('Vitron 50" Inch UHD FRAMELESS 4K Android TV,BLUETOOTH+FREE ACCESSORIES',
  'KSh 36,999'),
 ('Vitron Frameless 32 Inch Digital LED Television USB HDMI VGA',
  'KSh 11,099'),
 ('Vitron 43" Inch FULL HD Frameless Smart Android TV,Netflix+GUARD+AERIAL',
  'KSh 23,799'),
 ('Vitron HTC3218, Frameless 32" Inch Digital HD LED TV+Wall Bracket+Extension Cable',
  'KSh 12,499'),
 ('Vitron 32" LED Frameless Digital HD TV Inbuiltdecoder + 7 FREEGIFTS',
  'KSh 13,999'),
 ('Vitron FRAMELESS DIGITAL TV-HDMI+INBUILT DECODER-32" Inch', 'KSh 11,999'),
 ('Vitron 4388FS-43" Inch Frameless Smart Android TV,Netflix+FREE 4 GIFTS',
  'KSh 23,799'),
 ('Vitron HTC3200S,32 Inch Smart Android TV,Netflix,Youtube,Playstore+FREE AERIAL+BRACKET',
  'KSh 14,599'),
 ('Vitron 32" Inch, Digital HD LED TV, USB PORT,HDMI, INBUILT DECORDER>GIFTS',
  'KSh 16,890'),
 ('Vitron 43" Inch FULL HD Smart Android TV+Youtube+14 MONTHS WARRANTY',
  'KSh 23,999'),
 ('Vitron 32 Inch FRAMELESS HD LED Digital TV DVBt2 +FREE WALL BRACKET',
  'KSh 11,799')]

In [4]:
print(vitronPrices)

['KSh 12,999', 'KSh 10,999', 'KSh 42,999', 'KSh 10,949', 'KSh 23,999', 'KSh 20,999', 'KSh 12,899', 'KSh 11,999', 'KSh 13,498', 'KSh 15,899', 'KSh 13,999', 'KSh 13,698', 'KSh 22,995', 'KSh 23,999', 'KSh 15,895', 'KSh 13,399', 'KSh 11,450', 'KSh 10,399', 'KSh 14,999', 'KSh 23,999', 'KSh 12,999', 'KSh 14,999', 'KSh 11,890', 'KSh 24,999', 'KSh 15,999', 'KSh 14,995', 'KSh 14,995', 'KSh 13,999', 'KSh 13,399', 'KSh 36,999', 'KSh 11,099', 'KSh 23,799', 'KSh 12,499', 'KSh 13,999', 'KSh 11,999', 'KSh 23,799', 'KSh 14,599', 'KSh 16,890', 'KSh 23,999', 'KSh 11,799']

In [5]:
import pandas as pd

#converting the above data into a data frame
df2 = pd.DataFrame({'Brand Vitron': vitronTvs, 'Vitron Price': vitronPrices})
df2

                                         Brand Vitron Vitron Price
0   Vitron Smart 32" FRAMELESS  Android TV HTC3200...   KSh 12,999
1   Vitron HTC3218 HD Frameless 32" LED Digital TV...   KSh 10,999
2   Vitron 5568US 55" Inch FRAMELESS 4K UHD Androi...   KSh 42,999
3   Vitron HTC3218 HD Frameless 32" LED Digital TV...   KSh 10,949
4   Vitron 4388FS,43" Inch FRAMELESS Smart Android...   KSh 23,999
5   Vitron 4368FS 43" Full HD Smart Android TV Net...   KSh 20,999
6   Vitron HTC3218 32 Inch Frameless LED Digital H...   KSh 12,899
7   Vitron HTC3218, Frameless 32 Inch Digital LED ...   KSh 11,999
8   Vitron HTC3200S,32 Inch Frameless Smart Androi...   KSh 13,498
9   Vitron 32" Inch Frameless Smart Android TV Inb...   KSh 15,899
10  Vitron HTC3200S,32 Inch FRAMELESS Smart Androi...   KSh 13,999
11   Vitron 32" Inch LED Digital HD TV + 6 Free Gifts   KSh 13,698
12  Vitron 4388FS,43" Inches Frameless Smart Andro...   KSh 22,995
13  Vitron 4388FS,43" Inch Frameless Smart Android...   KSh 23,999
14  Vitron HTC3200S,Frameless 32Inch Smart Android...   KSh 15,895
15  Vitron 32" LED Digital HD TV Black + FREE 7 Gifts   KSh 13,399
16  Vitron Frameless   32" Inches LED Digital TV W...   KSh 11,450
17  Vitron 24 INCH - Digital LED TV+FREE DTV Aeria...   KSh 10,399
18  Vitron 32" Inch Frameless Smart Android TV Inb...   KSh 14,999
19  Vitron 43" Inch-FRAMELESS SMART ANDROID TV,NET...   KSh 23,999
20  Vitron HTC3218,32" Inch Frameless HD Digital L...   KSh 12,999
21  Vitron 32" Inch Smart Android Tv,Frameless, Ne...   KSh 14,999
22  Vitron HTC3218, Frameless 32 Inch Digital LED ...   KSh 11,890
23  Vitron 4388FS,43" Inch Frameless Smart Android...   KSh 24,999
24  Vitron 32"Inches Smart Android TV - Black + FR...   KSh 15,999
25  Vitron HTC3200S FRAMELESS 32" Inches Smart And...   KSh 14,995
26  Vitron HTC3200S,Frameless 32 Inch Smart Androi...   KSh 14,995
27  Vitron HTC3200S,32" Inch Frameless Smart Andro...   KSh 13,999
28  Vitron HTC-3218 32 Inch Digital LED TV USB HDM...   KSh 13,399
29  Vitron 50" Inch UHD FRAMELESS 4K Android TV,BL...   KSh 36,999
30  Vitron Frameless 32 Inch Digital LED Televisio...   KSh 11,099
31  Vitron 43" Inch FULL HD Frameless Smart Androi...   KSh 23,799
32  Vitron HTC3218, Frameless 32" Inch Digital HD ...   KSh 12,499
33  Vitron 32" LED Frameless Digital HD TV Inbuilt...   KSh 13,999
34  Vitron FRAMELESS DIGITAL TV-HDMI+INBUILT DECOD...   KSh 11,999
35  Vitron 4388FS-43" Inch Frameless Smart Android...   KSh 23,799
36  Vitron HTC3200S,32 Inch Smart Android TV,Netfl...   KSh 14,599
37  Vitron 32" Inch, Digital HD LED TV, USB PORT,H...   KSh 16,890
38  Vitron 43" Inch FULL HD Smart Android TV+Youtu...   KSh 23,999
39  Vitron 32 Inch FRAMELESS HD LED Digital TV DVB...   KSh 11,799

In [6]:
import pandas as pd

#merging into one data frame
df3 = pd.DataFrame({'Brand Samsung': itemlist, 'Price Samsung': pricelist, "Brand Vitron": vitronTvs, "Price Vitron":vitronPrices })

In [7]:
df3

,Brand Samsung,Price Samsung,Brand Vitron,Price Vitron
0,"Samsung UA32T5300AU,32"" Inch Smart HD TV Serie...","KSh 25,999","Vitron Smart 32"" FRAMELESS Android TV HTC3200...","KSh 12,999"
1,"Samsung 55BU8000 55'' 4K CRYSTAL UHD SMART TV,...","KSh 75,599","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 10,999"
2,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 43,599","Vitron 5568US 55"" Inch FRAMELESS 4K UHD Androi...","KSh 42,999"
3,"Samsung 40T5300 - 40"" FULL HD SMART TV, NETFLI...","KSh 38,599","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 10,949"
4,"Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...","KSh 63,799","Vitron 4388FS,43"" Inch FRAMELESS Smart Android...","KSh 23,999"
5,"Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Y...","KSh 58,880","Vitron 4368FS 43"" Full HD Smart Android TV Net...","KSh 20,999"
6,"Samsung UA32T5300AU,32"" Inch Smart HD TV HDR 5...","KSh 24,899",Vitron HTC3218 32 Inch Frameless LED Digital H...,"KSh 12,899"
7,"Samsung 50BU8000, 50 Inch Crystal UHD 4K Smart...","KSh 68,499","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,999"
8,"Samsung 40'' FULL HD SMART TV, NETFLIX, YOUTUB...","KSh 36,000","Vitron HTC3200S,32 Inch Frameless Smart Androi...","KSh 13,498"
9,"Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...","KSh 68,799","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,899"
10,Samsung 50 Inch Crystal UHD 4K Smart TV (2021)...,"KSh 82,489","Vitron HTC3200S,32 Inch FRAMELESS Smart Androi...","KSh 13,999"
11,Samsung 50BU8000 50 Inches Crystal UHD 4K Smar...,"KSh 70,499","Vitron 32"" Inch LED Digital HD TV + 6 Free Gifts","KSh 13,698"
12,"Samsung 55AU7000, 55 INCH 4K UHD Smart TV, You...","KSh 64,979","Vitron 4388FS,43"" Inches Frameless Smart Andro...","KSh 22,995"
13,Samsung QA65Q60B 65 Inches Class Q60B QLED 4K ...,"KSh 190,000","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 23,999"
14,Samsung 40T5300 40 Inch Smart FHD TV Ultra Cle...,"KSh 41,999","Vitron HTC3200S,Frameless 32Inch Smart Android...","KSh 15,895"
15,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 42,199","Vitron 32"" LED Digital HD TV Black + FREE 7 Gifts","KSh 13,399"
16,Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV...,"KSh 218,000","Vitron Frameless 32"" Inches LED Digital TV W...","KSh 11,450"
17,Samsung 32T5300 32 Inch Smart Full HD TV HDR S...,"KSh 28,999",Vitron 24 INCH - Digital LED TV+FREE DTV Aeria...,"KSh 10,399"
18,"Samsung 65"" QLED TV QA65Q60BAUXKE - 4K, QPICTU...","KSh 159,995","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 14,999"
19,Samsung 43T5300 Smart Full HD HDR TV ONE YEAR ...,"KSh 40,999","Vitron 43"" Inch-FRAMELESS SMART ANDROID TV,NET...","KSh 23,999"
20,Samsung 55BU8000 AU8000 CRYSTAL UHD 4K SMART T...,"KSh 69,999","Vitron HTC3218,32"" Inch Frameless HD Digital L...","KSh 12,999"
21,Samsung 50BU8000 50'' 4K CRYSTAL ULTRA HD SMAR...,"KSh 63,799","Vitron 32"" Inch Smart Android Tv,Frameless, Ne...","KSh 14,999"
22,"Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NET...","KSh 59,489","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,890"
23,"Samsung 43T5300- 43"" INCH Smart LED Full HD T...","KSh 46,999","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 24,999"
24,Samsung 85Q60B 85 Inches Class Q60B QLED 4K Sm...,"KSh 346,000","Vitron 32""Inches Smart Android TV - Black + FR...","KSh 15,999"
25,"Samsung 65BU8000 65'' Crystal UHD 4K Smart TV,...","KSh 102,599","Vitron HTC3200S FRAMELESS 32"" Inches Smart And...","KSh 14,995"
26,"Samsung 32'' SMART TV, NETFLIX,YOUTUBE SERIES ...","KSh 33,000","Vitron HTC3200S,Frameless 32 Inch Smart Androi...","KSh 14,995"
27,"Samsung 40T5300 40"" Inch Smart FHD TV Ultra Cl...","KSh 36,795","Vitron HTC3200S,32"" Inch Frameless Smart Andro...","KSh 13,999"
28,"Samsung 85"" 4K QLED 2022 LATEST MODEL,VOICE CO...","KSh 325,000",Vitron HTC-3218 32 Inch Digital LED TV USB HDM...,"KSh 13,399"
29,Samsung 32'' Smart Digital Full HD TV-Black In...,"KSh 34,599","Vitron 50"" Inch UHD FRAMELESS 4K Android TV,BL...","KSh 36,999"
30,"Samsung 43” 4K CRYSTAL UHD SMART TV,ALEXA VOIC...","KSh 48,000",Vitron Frameless 32 Inch Digital LED Televisio...,"KSh 11,099"
31,"Samsung 65” 4K CRYSTAL UHD LATEST SMART TV,ALE...","KSh 108,000","Vitron 43"" Inch FULL HD Frameless Smart Androi...","KSh 23,799"
32,"Samsung UA32T5300AU,32"" Inch Smart HD TV Serie...","KSh 25,999","Vitron HTC3218, Frameless 32"" Inch Digital HD ...","KSh 12,499"
33,Samsung 55BU8100 55'' Crystal UHD 4K Smart LED...,"KSh 82,880","Vitron 32"" LED Frameless Digital HD TV Inbuilt...","KSh 13,999"
34,"Samsung 65"" 8K QLED SMART TV,BIXBY VOICE CONTR...","KSh 410,000",Vitron FRAMELESS DIGITAL TV-HDMI+INBUILT DECOD...,"KSh 11,999"
35,"Samsung 65"" 4K CRYSTAL UHD 2022 LATEST MODEL,V...","KSh 112,000","Vitron 4388FS-43"" Inch Frameless Smart Android...","KSh 23,799"
36,"Samsung Galaxy A53 5G, 6.5"", 256G + 8GB RAM (D...","KSh 53,499","Vitron HTC3200S,32 Inch Smart Android TV,Netfl...","KSh 14,599"
37,Samsung QA65Q60BAU 65 Inches Class Q60B QLED 4...,"KSh 156,499","Vitron 32"" Inch, Digital HD LED TV, USB PORT,H...","KSh 16,890"
38,Samsung 43'' 4K CRYSTAL ULTRA HD(LATEST 2021) ...,"KSh 47,999","Vitron 43"" Inch FULL HD Smart Android TV+Youtu...","KSh 23,999"
39,"Samsung 55'' 4K CRYSTAL ULTRA HD SMART TV, NET...","KSh 92,500",Vitron 32 Inch FRAMELESS HD LED Digital TV DVB...,"KSh 11,799"

In [8]:
import numpy as np
#converting a string into an integer
#substring is like a compenent of  string. Like what makes up a string. Words that make a string


# On the comparison dataframe, we need to find the price difference of the items
# The problem is all the prices come in a string ("KSH 20,000")
# We need to have an interger from the above string. Something like 20000, without the ","

string = "Ksh 20,000"
subString = string.split(" ")
print(subString)
subString[1]

['Ksh', '20,000']

'20,000'

In [9]:
variable  = subString[1]
newVariant = int(variable.replace(",",""))

print(newVariant)

print(type(newVariant))

20000
<class 'int'>

In [10]:
#difference btwn samsung and vitron
#Get the difference in prices from the item you had scrapped from the web

samsung_price = list(pricelist)

vitron_price = list(vitronPrices)

samsung_price

['KSh 25,999',
 'KSh 75,599',
 'KSh 43,599',
 'KSh 38,599',
 'KSh 63,799',
 'KSh 58,880',
 'KSh 24,899',
 'KSh 68,499',
 'KSh 36,000',
 'KSh 68,799',
 'KSh 82,489',
 'KSh 70,499',
 'KSh 64,979',
 'KSh 190,000',
 'KSh 41,999',
 'KSh 42,199',
 'KSh 218,000',
 'KSh 28,999',
 'KSh 159,995',
 'KSh 40,999',
 'KSh 69,999',
 'KSh 63,799',
 'KSh 59,489',
 'KSh 46,999',
 'KSh 346,000',
 'KSh 102,599',
 'KSh 33,000',
 'KSh 36,795',
 'KSh 325,000',
 'KSh 34,599',
 'KSh 48,000',
 'KSh 108,000',
 'KSh 25,999',
 'KSh 82,880',
 'KSh 410,000',
 'KSh 112,000',
 'KSh 53,499',
 'KSh 156,499',
 'KSh 47,999',
 'KSh 92,500']

In [11]:
#just for example
df = pd.DataFrame({'Samsung': [10, 15, 20], 'Hisense': [12, 18, 25]})

df

   Samsung  Hisense
0       10       12
1       15       18
2       20       25

In [12]:
df['price_difference'] = df['Samsung'] - df['Hisense']

print(df)

   Samsung  Hisense  price_difference
0       10       12                -2
1       15       18                -3
2       20       25                -5

In [13]:
#samsung
prices_int = [int(price.replace('KSh ', '').replace(',', '')) for price in pricelist]

print(prices_int)

[25999, 75599, 43599, 38599, 63799, 58880, 24899, 68499, 36000, 68799, 82489, 70499, 64979, 190000, 41999, 42199, 218000, 28999, 159995, 40999, 69999, 63799, 59489, 46999, 346000, 102599, 33000, 36795, 325000, 34599, 48000, 108000, 25999, 82880, 410000, 112000, 53499, 156499, 47999, 92500]

In [14]:
#vitron
prices_int1 = [int(price.replace('KSh ', '').replace(',', '')) for price in vitronPrices]

print(prices_int1)

[12999, 10999, 42999, 10949, 23999, 20999, 12899, 11999, 13498, 15899, 13999, 13698, 22995, 23999, 15895, 13399, 11450, 10399, 14999, 23999, 12999, 14999, 11890, 24999, 15999, 14995, 14995, 13999, 13399, 36999, 11099, 23799, 12499, 13999, 11999, 23799, 14599, 16890, 23999, 11799]

In [15]:
df = pd.DataFrame({'Samsung':prices_int, 'Vitron':prices_int1})

df

    Samsung  Vitron
0     25999   12999
1     75599   10999
2     43599   42999
3     38599   10949
4     63799   23999
5     58880   20999
6     24899   12899
7     68499   11999
8     36000   13498
9     68799   15899
10    82489   13999
11    70499   13698
12    64979   22995
13   190000   23999
14    41999   15895
15    42199   13399
16   218000   11450
17    28999   10399
18   159995   14999
19    40999   23999
20    69999   12999
21    63799   14999
22    59489   11890
23    46999   24999
24   346000   15999
25   102599   14995
26    33000   14995
27    36795   13999
28   325000   13399
29    34599   36999
30    48000   11099
31   108000   23799
32    25999   12499
33    82880   13999
34   410000   11999
35   112000   23799
36    53499   14599
37   156499   16890
38    47999   23999
39    92500   11799

In [16]:
df['price_difference'] = df['Samsung'] - df['Vitron']

print(df)

mypricediff = df['Samsung'] - df['Vitron']

mypricediff

    Samsung  Vitron  price_difference
0     25999   12999             13000
1     75599   10999             64600
2     43599   42999               600
3     38599   10949             27650
4     63799   23999             39800
5     58880   20999             37881
6     24899   12899             12000
7     68499   11999             56500
8     36000   13498             22502
9     68799   15899             52900
10    82489   13999             68490
11    70499   13698             56801
12    64979   22995             41984
13   190000   23999            166001
14    41999   15895             26104
15    42199   13399             28800
16   218000   11450            206550
17    28999   10399             18600
18   159995   14999            144996
19    40999   23999             17000
20    69999   12999             57000
21    63799   14999             48800
22    59489   11890             47599
23    46999   24999             22000
24   346000   15999            330001
25   102599   14995             87604
26    33000   14995             18005
27    36795   13999             22796
28   325000   13399            311601
29    34599   36999             -2400
30    48000   11099             36901
31   108000   23799             84201
32    25999   12499             13500
33    82880   13999             68881
34   410000   11999            398001
35   112000   23799             88201
36    53499   14599             38900
37   156499   16890            139609
38    47999   23999             24000
39    92500   11799             80701

0      13000
1      64600
2        600
3      27650
4      39800
5      37881
6      12000
7      56500
8      22502
9      52900
10     68490
11     56801
12     41984
13    166001
14     26104
15     28800
16    206550
17     18600
18    144996
19     17000
20     57000
21     48800
22     47599
23     22000
24    330001
25     87604
26     18005
27     22796
28    311601
29     -2400
30     36901
31     84201
32     13500
33     68881
34    398001
35     88201
36     38900
37    139609
38     24000
39     80701
dtype: int64

In [17]:
#completed_dataframe 

df4 = pd.DataFrame({'Brand Samsung': itemlist, 'Price Samsung': pricelist, "Brand Vitron": vitronTvs, "Price Vitron":vitronPrices, " Price Difference": mypricediff})
df4

,Brand Samsung,Price Samsung,Brand Vitron,Price Vitron,Price Difference
0,"Samsung UA32T5300AU,32"" Inch Smart HD TV Serie...","KSh 25,999","Vitron Smart 32"" FRAMELESS Android TV HTC3200...","KSh 12,999",13000
1,"Samsung 55BU8000 55'' 4K CRYSTAL UHD SMART TV,...","KSh 75,599","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 10,999",64600
2,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 43,599","Vitron 5568US 55"" Inch FRAMELESS 4K UHD Androi...","KSh 42,999",600
3,"Samsung 40T5300 - 40"" FULL HD SMART TV, NETFLI...","KSh 38,599","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 10,949",27650
4,"Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...","KSh 63,799","Vitron 4388FS,43"" Inch FRAMELESS Smart Android...","KSh 23,999",39800
5,"Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Y...","KSh 58,880","Vitron 4368FS 43"" Full HD Smart Android TV Net...","KSh 20,999",37881
6,"Samsung UA32T5300AU,32"" Inch Smart HD TV HDR 5...","KSh 24,899",Vitron HTC3218 32 Inch Frameless LED Digital H...,"KSh 12,899",12000
7,"Samsung 50BU8000, 50 Inch Crystal UHD 4K Smart...","KSh 68,499","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,999",56500
8,"Samsung 40'' FULL HD SMART TV, NETFLIX, YOUTUB...","KSh 36,000","Vitron HTC3200S,32 Inch Frameless Smart Androi...","KSh 13,498",22502
9,"Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...","KSh 68,799","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,899",52900
10,Samsung 50 Inch Crystal UHD 4K Smart TV (2021)...,"KSh 82,489","Vitron HTC3200S,32 Inch FRAMELESS Smart Androi...","KSh 13,999",68490
11,Samsung 50BU8000 50 Inches Crystal UHD 4K Smar...,"KSh 70,499","Vitron 32"" Inch LED Digital HD TV + 6 Free Gifts","KSh 13,698",56801
12,"Samsung 55AU7000, 55 INCH 4K UHD Smart TV, You...","KSh 64,979","Vitron 4388FS,43"" Inches Frameless Smart Andro...","KSh 22,995",41984
13,Samsung QA65Q60B 65 Inches Class Q60B QLED 4K ...,"KSh 190,000","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 23,999",166001
14,Samsung 40T5300 40 Inch Smart FHD TV Ultra Cle...,"KSh 41,999","Vitron HTC3200S,Frameless 32Inch Smart Android...","KSh 15,895",26104
15,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 42,199","Vitron 32"" LED Digital HD TV Black + FREE 7 Gifts","KSh 13,399",28800
16,Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV...,"KSh 218,000","Vitron Frameless 32"" Inches LED Digital TV W...","KSh 11,450",206550
17,Samsung 32T5300 32 Inch Smart Full HD TV HDR S...,"KSh 28,999",Vitron 24 INCH - Digital LED TV+FREE DTV Aeria...,"KSh 10,399",18600
18,"Samsung 65"" QLED TV QA65Q60BAUXKE - 4K, QPICTU...","KSh 159,995","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 14,999",144996
19,Samsung 43T5300 Smart Full HD HDR TV ONE YEAR ...,"KSh 40,999","Vitron 43"" Inch-FRAMELESS SMART ANDROID TV,NET...","KSh 23,999",17000
20,Samsung 55BU8000 AU8000 CRYSTAL UHD 4K SMART T...,"KSh 69,999","Vitron HTC3218,32"" Inch Frameless HD Digital L...","KSh 12,999",57000
21,Samsung 50BU8000 50'' 4K CRYSTAL ULTRA HD SMAR...,"KSh 63,799","Vitron 32"" Inch Smart Android Tv,Frameless, Ne...","KSh 14,999",48800
22,"Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NET...","KSh 59,489","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,890",47599
23,"Samsung 43T5300- 43"" INCH Smart LED Full HD T...","KSh 46,999","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 24,999",22000
24,Samsung 85Q60B 85 Inches Class Q60B QLED 4K Sm...,"KSh 346,000","Vitron 32""Inches Smart Android TV - Black + FR...","KSh 15,999",330001
25,"Samsung 65BU8000 65'' Crystal UHD 4K Smart TV,...","KSh 102,599","Vitron HTC3200S FRAMELESS 32"" Inches Smart And...","KSh 14,995",87604
26,"Samsung 32'' SMART TV, NETFLIX,YOUTUBE SERIES ...","KSh 33,000","Vitron HTC3200S,Frameless 32 Inch Smart Androi...","KSh 14,995",18005
27,"Samsung 40T5300 40"" Inch Smart FHD TV Ultra Cl...","KSh 36,795","Vitron HTC3200S,32"" Inch Frameless Smart Andro...","KSh 13,999",22796
28,"Samsung 85"" 4K QLED 2022 LATEST MODEL,VOICE CO...","KSh 325,000",Vitron HTC-3218 32 Inch Digital LED TV USB HDM...,"KSh 13,399",311601
29,Samsung 32'' Smart Digital Full HD TV-Black In...,"KSh 34,599","Vitron 50"" Inch UHD FRAMELESS 4K Android TV,BL...","KSh 36,999",-2400
30,"Samsung 43” 4K CRYSTAL UHD SMART TV,ALEXA VOIC...","KSh 48,000",Vitron Frameless 32 Inch Digital LED Televisio...,"KSh 11,099",36901
31,"Samsung 65” 4K CRYSTAL UHD LATEST SMART TV,ALE...","KSh 108,000","Vitron 43"" Inch FULL HD Frameless Smart Androi...","KSh 23,799",84201
32,"Samsung UA32T5300AU,32"" Inch Smart HD TV Serie...","KSh 25,999","Vitron HTC3218, Frameless 32"" Inch Digital HD ...","KSh 12,499",13500
33,Samsung 55BU8100 55'' Crystal UHD 4K Smart LED...,"KSh 82,880","Vitron 32"" LED Frameless Digital HD TV Inbuilt...","KSh 13,999",68881
34,"Samsung 65"" 8K QLED SMART TV,BIXBY VOICE CONTR...","KSh 410,000",Vitron FRAMELESS DIGITAL TV-HDMI+INBUILT DECOD...,"KSh 11,999",398001
35,"Samsung 65"" 4K CRYSTAL UHD 2022 LATEST MODEL,V...","KSh 112,000","Vitron 4388FS-43"" Inch Frameless Smart Android...","KSh 23,799",88201
36,"Samsung Galaxy A53 5G, 6.5"", 256G + 8GB RAM (D...","KSh 53,499","Vitron HTC3200S,32 Inch Smart Android TV,Netfl...","KSh 14,599",38900
37,Samsung QA65Q60BAU 65 Inches Class Q60B QLED 4...,"KSh 156,499","Vitron 32"" Inch, Digital HD LED TV, USB PORT,H...","KSh 16,890",139609
38,Samsung 43'' 4K CRYSTAL ULTRA HD(LATEST 2021) ...,"KSh 47,999","Vitron 43"" Inch FULL HD Smart Android TV+Youtu...","KSh 23,999",24000
39,"Samsung 55'' 4K CRYSTAL ULTRA HD SMART TV, NET...","KSh 92,500",Vitron 32 Inch FRAMELESS HD LED Digital TV DVB...,"KSh 11,799",80701

In [22]:
#CONVERT THE PRICES INTO KENYAN SHILLINGS USING AN API
import requests
url = "https://api.apilayer.com/fixer/convert?to=USD&from=KES&amount=1"

payload = {}
headers= {
  "apikey": "bA96S49nLrBJjxF6ob76cBlQc67p4J1b"
}

responseCurrency = requests.request("GET", url, headers=headers, data = payload)
resultCurrency = responseCurrency.text

# covert the result above into a json
import json

rates_in_json_format = json.loads(resultCurrency)
rate = rates_in_json_format['info']['rate']

rate

0.007435

In [35]:
#converting to USD

newRate = []
for monies in prices_int:
    newRate.append(monies*rate)
    
print((list)newRate)

[193.302565, 562.078565, 324.158565, 286.983565, 474.34556499999997, 437.77279999999996, 185.124065, 509.29006499999997, 267.65999999999997, 511.520565, 613.305715, 524.160065, 483.11886499999997, 1412.6499999999999, 312.262565, 313.749565, 1620.83, 215.607565, 1189.562825, 304.827565, 520.442565, 474.34556499999997, 442.30071499999997, 349.437565, 2572.5099999999998, 762.823565, 245.355, 273.570825, 2416.375, 257.243565, 356.88, 802.98, 193.302565, 616.2128, 3048.35, 832.72, 397.765065, 1163.5700649999999, 356.872565, 687.7375]

In [38]:
price_in_usd = [round(num) for num in newRate]

print(price_in_usd)

[193, 562, 324, 287, 474, 438, 185, 509, 268, 512, 613, 524, 483, 1413, 312, 314, 1621, 216, 1190, 305, 520, 474, 442, 349, 2573, 763, 245, 274, 2416, 257, 357, 803, 193, 616, 3048, 833, 398, 1164, 357, 688]