In [1]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.jumia.co.ke/smart-tvs-2282/samsung/#catalog-listing'

response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

# Find all the elements with the class "item"
items = soup.find_all(class_='name')
item_prices = soup.find_all(class_='prc')


allitems = []
for item in items:
    allitems.append(item.text)
# print(allitems)

itemlist = list(allitems)


prices = []
for price in item_prices:
    prices.append(price.text)
# print(prices)

pricelist = list(prices)


myitem = list(zip(itemlist, pricelist))
myitem

[('Samsung 43 INCH 43T5300 Smart LED Full HD TV - Black', 'KSh 40,999'),
 ('Samsung UA32T5300AU,32" Inch Smart HD TV Series 5 Inbuilt WIFI +FREE GIFTS',
  'KSh 25,799'),
 ('Samsung UA32T5300AU,32" Inch Smart HD TV HDR 5Series,NetflixYoutube',
  'KSh 24,899'),
 ('Samsung 50AU7000,  50 INCH 4K UHD Smart TV, Youtube, Netflix-Black',
  'KSh 53,899'),
 ('Samsung UA65BU8100 65 Inches Crystal UHD 4K Smart TV (2022)',
  'KSh 132,599'),
 ("Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETFLIX, YOUTUBE 43BU8000",
  'KSh 55,000'),
 ('Samsung 50BU8000 50 Inches Crystal UHD 4K Smart TV (2022)', 'KSh 70,499'),
 ("Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETFLIX, YOUTUBE 43AU7000",
  'KSh 49,000'),
 ('Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Youtube, Netflix-Black',
  'KSh 58,880'),
 ("Samsung 50'' CRYSTAL 4K ULTRA HD SMART TV,NETFLIX, YOUTUBE 50AU7000",
  'KSh 60,000'),
 ('Samsung 40T5300 - 40" FULL HD SMART TV, NETFLIX, YOUTUBE - Black',
  'KSh 35,899'),
 ("Samsung 43'' FULL HD SMART TV, NETFLIX,YOUTUBE -UA43T5300AU", 'KSh 45,000'),
 ('Samsung 43T5300- 43" INCH  Smart LED Full HD TV,NETFLIX,YOUTUBE+2 YEARS WARRANTY',
  'KSh 46,999'),
 ('Samsung UA32T5300AU,32 Inch Smart TV HDR TV Series 5 Inbuilt WIFI+FREE AERIAL',
  'KSh 25,699'),
 ('Samsung 43T5300 43 Inch Smart FHD TV Ultra Clean View HDR PURCOLOR+FREE TVGuard+ Bracket',
  'KSh 45,599'),
 ("Samsung 43T5300 43'' FULL HD SMART TV, Netflix, YouTube- Black",
  'KSh 42,499'),
 ('Samsung 43 INCH 43T5300 Smart LED Full HD TV - Black', 'KSh 41,999'),
 ("Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV, Netflix (2022),",
  'KSh 68,799'),
 ('Samsung 32" Smart Full HD TV Series 5 Inbuilt Decoder Class A+ Panel',
  'KSh 24,899'),
 ('Samsung 40T5300 40 Inch Smart FHD TV Ultra Clean View HDR PURCOLOR+FREE GIFTS',
  'KSh 41,999'),
 ("Samsung 55AU8000 55'' CRYSTAL UHD 4K SMART TV (2021) - Black",
  'KSh 92,999'),
 ("Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NETFLIX, YOUTUBE SERIES 8 -43BU8000 (2022)",
  'KSh 59,489'),
 ('Samsung 65 Inch 65AU7000  UHD 4K Flat Smart TV (2021) Black', 'KSh 93,499'),
 ('Samsung 55AU7000 55 INCH 4K UHD Smart TV (2021) -Black', 'KSh 89,995'),
 ('Samsung 55AU8000 CRYSTAL UHD 4K SMART TV [ 2021 MODEL]', 'KSh 69,999'),
 ('Samsung UA75BU8000UX - 4K, CRYSTAL UHD, SMART 75" LED TV', 'KSh 179,995'),
 ('Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV (2022)', 'KSh 218,000'),
 ('Samsung 43AU7000 43 INCH 4K UHD Smart TV (2021) -Black', 'KSh 49,999'),
 ("Samsung 55Q60BAU 55'' Class Q60B QLED UHD 4K Smart TV - Black",
  'KSh 87,599'),
 ("Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETFLIX, YOUTUBE 43TU7000",
  'KSh 49,800'),
 ('Samsung UA32T5300AU,32 Inch Smart HD TV Series 5 Inbuilt WIFI + FREE Wall Bracket',
  'KSh 24,999'),
 ('Samsung 75BU8100 75 Inches Crystal UHD 4K Smart TV (2022)', 'KSh 187,799'),
 ('Samsung UA75BU8100 75 Inches Crystal UHD 4K Smart TV (2022)',
  'KSh 177,799'),
 ("Samsung 55BU8000 55'' Crystal UHD 4K Smart LED TV (2022)", 'KSh 73,199'),
 ("Samsung 55'' CYSTAL ULTRA HD 4K SMART CURVED TV, GOOGLE ASSISTANT- UA55TU8300",
  'KSh 95,000'),
 ('Samsung 55AU7000, 55 INCH 4K UHD Smart TV, Youtube, Netflix-Black',
  'KSh 64,999'),
 ('Samsung 43AU7000, 43 INCH 4K UHD Smart TV, Youtube, Netflix-Black',
  'KSh 46,999'),
 ('Samsung UA55BU8000, 55 Inch Crystal UHD 4K Smart TV (2021) - Black',
  'KSh 84,899'),
 ('Samsung 65QN800B 65 Inches Neo QLED 8K Smart TV (2022)', 'KSh 768,000'),
 ("Samsung 75'' Neo QLED 8K SMART TV (NEW MODEL 2021) Series 8-  75QN800A",
  'KSh 800,000')]

In [2]:
import pandas as pd

#converting the above data into a data frame
df = pd.DataFrame({'Brand Samsung': itemlist, 'Price Samsung': pricelist})
df

                                        Brand Samsung Price Samsung
0   Samsung 43 INCH 43T5300 Smart LED Full HD TV -...    KSh 40,999
1   Samsung UA32T5300AU,32" Inch Smart HD TV Serie...    KSh 25,799
2   Samsung UA32T5300AU,32" Inch Smart HD TV HDR 5...    KSh 24,899
3   Samsung 50AU7000,  50 INCH 4K UHD Smart TV, Yo...    KSh 53,899
4   Samsung UA65BU8100 65 Inches Crystal UHD 4K Sm...   KSh 132,599
5   Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...    KSh 55,000
6   Samsung 50BU8000 50 Inches Crystal UHD 4K Smar...    KSh 70,499
7   Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...    KSh 49,000
8   Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Y...    KSh 58,880
9   Samsung 50'' CRYSTAL 4K ULTRA HD SMART TV,NETF...    KSh 60,000
10  Samsung 40T5300 - 40" FULL HD SMART TV, NETFLI...    KSh 35,899
11  Samsung 43'' FULL HD SMART TV, NETFLIX,YOUTUBE...    KSh 45,000
12  Samsung 43T5300- 43" INCH  Smart LED Full HD T...    KSh 46,999
13  Samsung UA32T5300AU,32 Inch Smart TV HDR TV Se...    KSh 25,699
14  Samsung 43T5300 43 Inch Smart FHD TV Ultra Cle...    KSh 45,599
15  Samsung 43T5300 43'' FULL HD SMART TV, Netflix...    KSh 42,499
16  Samsung 43 INCH 43T5300 Smart LED Full HD TV -...    KSh 41,999
17  Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...    KSh 68,799
18  Samsung 32" Smart Full HD TV Series 5 Inbuilt ...    KSh 24,899
19  Samsung 40T5300 40 Inch Smart FHD TV Ultra Cle...    KSh 41,999
20  Samsung 55AU8000 55'' CRYSTAL UHD 4K SMART TV ...    KSh 92,999
21  Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NET...    KSh 59,489
22  Samsung 65 Inch 65AU7000  UHD 4K Flat Smart TV...    KSh 93,499
23  Samsung 55AU7000 55 INCH 4K UHD Smart TV (2021...    KSh 89,995
24  Samsung 55AU8000 CRYSTAL UHD 4K SMART TV [ 202...    KSh 69,999
25  Samsung UA75BU8000UX - 4K, CRYSTAL UHD, SMART ...   KSh 179,995
26  Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV...   KSh 218,000
27  Samsung 43AU7000 43 INCH 4K UHD Smart TV (2021...    KSh 49,999
28  Samsung 55Q60BAU 55'' Class Q60B QLED UHD 4K S...    KSh 87,599
29  Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...    KSh 49,800
30  Samsung UA32T5300AU,32 Inch Smart HD TV Series...    KSh 24,999
31  Samsung 75BU8100 75 Inches Crystal UHD 4K Smar...   KSh 187,799
32  Samsung UA75BU8100 75 Inches Crystal UHD 4K Sm...   KSh 177,799
33  Samsung 55BU8000 55'' Crystal UHD 4K Smart LED...    KSh 73,199
34  Samsung 55'' CYSTAL ULTRA HD 4K SMART CURVED T...    KSh 95,000
35  Samsung 55AU7000, 55 INCH 4K UHD Smart TV, You...    KSh 64,999
36  Samsung 43AU7000, 43 INCH 4K UHD Smart TV, You...    KSh 46,999
37  Samsung UA55BU8000, 55 Inch Crystal UHD 4K Sma...    KSh 84,899
38  Samsung 65QN800B 65 Inches Neo QLED 8K Smart T...   KSh 768,000
39  Samsung 75'' Neo QLED 8K SMART TV (NEW MODEL 2...   KSh 800,000

In [3]:
import requests
from bs4 import BeautifulSoup

urlVitron = 'https://www.jumia.co.ke/catalog/?q=vitron+tv'

responseVitron = requests.get(urlVitron)

soupVitron = BeautifulSoup(responseVitron.content, 'html.parser')

# Find all the elements with the class "item"
itemVitron = soupVitron.find_all(class_='name')
vitronPricess = soupVitron.find_all(class_='prc')


vitronTvs = []
for vitronTv in itemVitron:
    vitronTvs.append(vitronTv.text)
#print(vitronTvs)

itemlistvitron = list(vitronTvs)


vitronPrices = []
for vitronPrice in vitronPricess:
    vitronPrices.append(vitronPrice.text)
#print(vitronPrices)

pricelistvitron = list(vitronPrices)


myitemVitron = list(zip(vitronTvs, vitronPrices))
myitemVitron

[('Vitron 4368FS 43" Full HD Smart Android TV Netflix Youtube / 4388FS',
  'KSh 22,499'),
 ('Vitron HTC3218 HD Frameless 32" LED Digital TV Inbuilt Decoder',
  'KSh 11,499'),
 ('Vitron Smart 32" FRAMELESS  Android TV HTC3200S Netflix & Youtube.',
  'KSh 13,699'),
 ('Vitron HTC3218, Frameless 32 Inch Digital LED Television USB HDMI VGA+FREE Wall Bracket',
  'KSh 11,699'),
 ('Vitron HTC3218F  FRAMELESS 32" HD LED Digital TV DVB-T And DVB-T2',
  'KSh 10,299'),
 ('Vitron HTC3200S,32 Inch Frameless Smart Android TV,InbuiltDecoder Netflix,Appstore',
  'KSh 13,295'),
 ('Vitron 32" Inch Frameless Smart Android TV Inbuilt WIFI+BRACKET+AERIAL+GUARD',
  'KSh 15,999'),
 ('Vitron 4388FS,43" Inch FRAMELESS Smart Android TV Netflix + 4 GIFTS',
  'KSh 22,399'),
 ('Vitron 4388FS,43" Inches Frameless Smart Android TV,Youtube,Netflix 1GBRAM,8GBROM',
  'KSh 20,999'),
 ('Vitron 32" Inch LED Digital HD TV + 6 Free Gifts', 'KSh 13,998'),
 ('Vitron HTC3200S,32 Inch FRAMELESS Smart Android TV Netflix,Youtube+FREE TVGuard+Bracket',
  'KSh 13,999'),
 ('Vitron HTC3218 32 Inch Frameless LED Digital HD TV + Free Extension+Aerial+32GB Flash',
  'KSh 12,599'),
 ('Vitron 32"Inches Smart Android TV - Black + FREE 7 Gifts', 'KSh 15,999'),
 ('Vitron 32" LED Digital HD TV Black + FREE 7 Gifts', 'KSh 13,399'),
 ('Vitron 50" Inch FRAMELESS BLUETOOTH INBUILT DECODER 4K UHD Android TV 1.5GBRAM,8GBROM',
  'KSh 34,999'),
 ('Vitron 32" Inch Frameless Smart Android TV Inbuilt WIFI+16GB FLASH,GUARD',
  'KSh 15,999'),
 ('Vitron 4388FS,43" Inch Frameless Smart Android TV 1GBRAM,8GBROM+ 6 FREE GIFTS',
  'KSh 22,445'),
 ('Vitron HTC3218 HD Frameless 32" LED Digital TV Inbuilt Decoder',
  'KSh 11,449'),
 ('Vitron 4388FS,43" Inch Frameless Smart Android TV 1GBRAM,8GBROM+ 7 FREE GIFTS',
  'KSh 23,499'),
 ('Vitron 43" Inch-FRAMELESS SMART ANDROID TV,NETFLIX+6GIFTS', 'KSh 23,499'),
 ('Vitron HTC3218,32" Inch Frameless HD Digital LED TV With Inbuilt Decoder+ 3 FREE GIFTS',
  'KSh 12,999'),
 ('Vitron 4388FS-43" Inch Frameless Smart Android TV,Netflix+GUARD+EXTENSION',
  'KSh 22,999'),
 ('Vitron HTC3200S,32" Inch Frameless Smart Android TV,NetflixYoutubePlaystore+FREEBRACKET',
  'KSh 13,699'),
 ('Vitron 3218,32" Inch Frameless Digital TV Multiple USB,HDMI Ports+FREE TVGuard+Bracket',
  'KSh 11,999'),
 ('Vitron 32" Inch Frameless Smart Android TV Inbuilt WIFI+BRACKET&GUARD',
  'KSh 15,790'),
 ('Vitron HTC3200S FRAMELESS 32" Inches Smart Android TV + FREE GIFTS',
  'KSh 14,499'),
 ('Vitron HTC3218, Frameless 32 Inch Digital LED TV+Free Wall Bracket',
  'KSh 11,890'),
 ('Vitron 24 INCH - Digital LED TV+FREE DTV Aerial+32GB Flash Disk+Audio Cable',
  'KSh 10,399'),
 ('Vitron HTC3200S,Frameless 32 Inch Smart Android  TV Netflix Youtube+FREE GIFTS',
  'KSh 15,799'),
 ('Vitron 43" Inch FULL HD Frameless Smart Android TV,Netflix+GUARD+AERIAL',
  'KSh 22,299'),
 ('Vitron 5568US 55" Inch FRAMELESS 4K UHD Android TV 1.5GBRAM 8GBROM',
  'KSh 44,999'),
 ('Vitron HTC3218 -32"inch Frameless Digital LED TV DVBT2 TV', 'KSh 11,699'),
 ('Vitron HTC3200S,Frameless 32Inch Smart Android TV,Netflix,Youtube + 7 FREE GIFTS',
  'KSh 16,499'),
 ('Vitron 32 Inch Frameless Smart Android TV Inbuilt WIFI,Netflix,Youtube',
  'KSh 13,878'),
 ('Vitron HTC3218, Frameless 32" Inch Digital HD LED TV+Wall Bracket+Extension Cable',
  'KSh 11,999'),
 ('Vitron HTC3200S,32 Inch Smart Android TV,Netflix,Youtube,Playstore+FREE AERIAL+BRACKET',
  'KSh 14,899'),
 ('Vitron 32" Inch Smart Android Tv,Frameless, Netflix,Youtube + FREE GIFTS',
  'KSh 14,900'),
 ('Vitron HTC3218 -Frameless 32" Inches LED Digital TV Inbuilt Decoder',
  'KSh 11,599'),
 ('Vitron 43" Inch FULL HD Smart Android TV+Youtube+14 MONTHS WARRANTY',
  'KSh 23,599'),
 ('Vitron 22" Inches LED DIGITAL FULL SCREEN TV AC/DC', 'KSh 8,499')]

In [4]:
print(vitronPrices)

['KSh 22,499', 'KSh 11,499', 'KSh 13,699', 'KSh 11,699', 'KSh 10,299', 'KSh 13,295', 'KSh 15,999', 'KSh 22,399', 'KSh 20,999', 'KSh 13,998', 'KSh 13,999', 'KSh 12,599', 'KSh 15,999', 'KSh 13,399', 'KSh 34,999', 'KSh 15,999', 'KSh 22,445', 'KSh 11,449', 'KSh 23,499', 'KSh 23,499', 'KSh 12,999', 'KSh 22,999', 'KSh 13,699', 'KSh 11,999', 'KSh 15,790', 'KSh 14,499', 'KSh 11,890', 'KSh 10,399', 'KSh 15,799', 'KSh 22,299', 'KSh 44,999', 'KSh 11,699', 'KSh 16,499', 'KSh 13,878', 'KSh 11,999', 'KSh 14,899', 'KSh 14,900', 'KSh 11,599', 'KSh 23,599', 'KSh 8,499']

In [5]:
import pandas as pd

#converting the above data into a data frame
df2 = pd.DataFrame({'Brand Vitron': vitronTvs, 'Vitron Price': vitronPrices})
df2

                                         Brand Vitron Vitron Price
0   Vitron 4368FS 43" Full HD Smart Android TV Net...   KSh 22,499
1   Vitron HTC3218 HD Frameless 32" LED Digital TV...   KSh 11,499
2   Vitron Smart 32" FRAMELESS  Android TV HTC3200...   KSh 13,699
3   Vitron HTC3218, Frameless 32 Inch Digital LED ...   KSh 11,699
4   Vitron HTC3218F  FRAMELESS 32" HD LED Digital ...   KSh 10,299
5   Vitron HTC3200S,32 Inch Frameless Smart Androi...   KSh 13,295
6   Vitron 32" Inch Frameless Smart Android TV Inb...   KSh 15,999
7   Vitron 4388FS,43" Inch FRAMELESS Smart Android...   KSh 22,399
8   Vitron 4388FS,43" Inches Frameless Smart Andro...   KSh 20,999
9    Vitron 32" Inch LED Digital HD TV + 6 Free Gifts   KSh 13,998
10  Vitron HTC3200S,32 Inch FRAMELESS Smart Androi...   KSh 13,999
11  Vitron HTC3218 32 Inch Frameless LED Digital H...   KSh 12,599
12  Vitron 32"Inches Smart Android TV - Black + FR...   KSh 15,999
13  Vitron 32" LED Digital HD TV Black + FREE 7 Gifts   KSh 13,399
14  Vitron 50" Inch FRAMELESS BLUETOOTH INBUILT DE...   KSh 34,999
15  Vitron 32" Inch Frameless Smart Android TV Inb...   KSh 15,999
16  Vitron 4388FS,43" Inch Frameless Smart Android...   KSh 22,445
17  Vitron HTC3218 HD Frameless 32" LED Digital TV...   KSh 11,449
18  Vitron 4388FS,43" Inch Frameless Smart Android...   KSh 23,499
19  Vitron 43" Inch-FRAMELESS SMART ANDROID TV,NET...   KSh 23,499
20  Vitron HTC3218,32" Inch Frameless HD Digital L...   KSh 12,999
21  Vitron 4388FS-43" Inch Frameless Smart Android...   KSh 22,999
22  Vitron HTC3200S,32" Inch Frameless Smart Andro...   KSh 13,699
23  Vitron 3218,32" Inch Frameless Digital TV Mult...   KSh 11,999
24  Vitron 32" Inch Frameless Smart Android TV Inb...   KSh 15,790
25  Vitron HTC3200S FRAMELESS 32" Inches Smart And...   KSh 14,499
26  Vitron HTC3218, Frameless 32 Inch Digital LED ...   KSh 11,890
27  Vitron 24 INCH - Digital LED TV+FREE DTV Aeria...   KSh 10,399
28  Vitron HTC3200S,Frameless 32 Inch Smart Androi...   KSh 15,799
29  Vitron 43" Inch FULL HD Frameless Smart Androi...   KSh 22,299
30  Vitron 5568US 55" Inch FRAMELESS 4K UHD Androi...   KSh 44,999
31  Vitron HTC3218 -32"inch Frameless Digital LED ...   KSh 11,699
32  Vitron HTC3200S,Frameless 32Inch Smart Android...   KSh 16,499
33  Vitron 32 Inch Frameless Smart Android TV Inbu...   KSh 13,878
34  Vitron HTC3218, Frameless 32" Inch Digital HD ...   KSh 11,999
35  Vitron HTC3200S,32 Inch Smart Android TV,Netfl...   KSh 14,899
36  Vitron 32" Inch Smart Android Tv,Frameless, Ne...   KSh 14,900
37  Vitron HTC3218 -Frameless 32" Inches LED Digit...   KSh 11,599
38  Vitron 43" Inch FULL HD Smart Android TV+Youtu...   KSh 23,599
39  Vitron 22" Inches LED DIGITAL FULL SCREEN TV A...    KSh 8,499

In [6]:
import pandas as pd

#merging into one data frame
df3 = pd.DataFrame({'Brand Samsung': itemlist, 'Price Samsung': pricelist, "Brand Vitron": vitronTvs, "Price Vitron":vitronPrices })

In [7]:
df3

,Brand Samsung,Price Samsung,Brand Vitron,Price Vitron
0,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 40,999","Vitron 4368FS 43"" Full HD Smart Android TV Net...","KSh 22,499"
1,"Samsung UA32T5300AU,32"" Inch Smart HD TV Serie...","KSh 25,799","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 11,499"
2,"Samsung UA32T5300AU,32"" Inch Smart HD TV HDR 5...","KSh 24,899","Vitron Smart 32"" FRAMELESS Android TV HTC3200...","KSh 13,699"
3,"Samsung 50AU7000, 50 INCH 4K UHD Smart TV, Yo...","KSh 53,899","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,699"
4,Samsung UA65BU8100 65 Inches Crystal UHD 4K Sm...,"KSh 132,599","Vitron HTC3218F FRAMELESS 32"" HD LED Digital ...","KSh 10,299"
5,"Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 55,000","Vitron HTC3200S,32 Inch Frameless Smart Androi...","KSh 13,295"
6,Samsung 50BU8000 50 Inches Crystal UHD 4K Smar...,"KSh 70,499","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,999"
7,"Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 49,000","Vitron 4388FS,43"" Inch FRAMELESS Smart Android...","KSh 22,399"
8,"Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Y...","KSh 58,880","Vitron 4388FS,43"" Inches Frameless Smart Andro...","KSh 20,999"
9,"Samsung 50'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 60,000","Vitron 32"" Inch LED Digital HD TV + 6 Free Gifts","KSh 13,998"
10,"Samsung 40T5300 - 40"" FULL HD SMART TV, NETFLI...","KSh 35,899","Vitron HTC3200S,32 Inch FRAMELESS Smart Androi...","KSh 13,999"
11,"Samsung 43'' FULL HD SMART TV, NETFLIX,YOUTUBE...","KSh 45,000",Vitron HTC3218 32 Inch Frameless LED Digital H...,"KSh 12,599"
12,"Samsung 43T5300- 43"" INCH Smart LED Full HD T...","KSh 46,999","Vitron 32""Inches Smart Android TV - Black + FR...","KSh 15,999"
13,"Samsung UA32T5300AU,32 Inch Smart TV HDR TV Se...","KSh 25,699","Vitron 32"" LED Digital HD TV Black + FREE 7 Gifts","KSh 13,399"
14,Samsung 43T5300 43 Inch Smart FHD TV Ultra Cle...,"KSh 45,599","Vitron 50"" Inch FRAMELESS BLUETOOTH INBUILT DE...","KSh 34,999"
15,"Samsung 43T5300 43'' FULL HD SMART TV, Netflix...","KSh 42,499","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,999"
16,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 41,999","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 22,445"
17,"Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...","KSh 68,799","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 11,449"
18,"Samsung 32"" Smart Full HD TV Series 5 Inbuilt ...","KSh 24,899","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 23,499"
19,Samsung 40T5300 40 Inch Smart FHD TV Ultra Cle...,"KSh 41,999","Vitron 43"" Inch-FRAMELESS SMART ANDROID TV,NET...","KSh 23,499"
20,Samsung 55AU8000 55'' CRYSTAL UHD 4K SMART TV ...,"KSh 92,999","Vitron HTC3218,32"" Inch Frameless HD Digital L...","KSh 12,999"
21,"Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NET...","KSh 59,489","Vitron 4388FS-43"" Inch Frameless Smart Android...","KSh 22,999"
22,Samsung 65 Inch 65AU7000 UHD 4K Flat Smart TV...,"KSh 93,499","Vitron HTC3200S,32"" Inch Frameless Smart Andro...","KSh 13,699"
23,Samsung 55AU7000 55 INCH 4K UHD Smart TV (2021...,"KSh 89,995","Vitron 3218,32"" Inch Frameless Digital TV Mult...","KSh 11,999"
24,Samsung 55AU8000 CRYSTAL UHD 4K SMART TV [ 202...,"KSh 69,999","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,790"
25,"Samsung UA75BU8000UX - 4K, CRYSTAL UHD, SMART ...","KSh 179,995","Vitron HTC3200S FRAMELESS 32"" Inches Smart And...","KSh 14,499"
26,Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV...,"KSh 218,000","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,890"
27,Samsung 43AU7000 43 INCH 4K UHD Smart TV (2021...,"KSh 49,999",Vitron 24 INCH - Digital LED TV+FREE DTV Aeria...,"KSh 10,399"
28,Samsung 55Q60BAU 55'' Class Q60B QLED UHD 4K S...,"KSh 87,599","Vitron HTC3200S,Frameless 32 Inch Smart Androi...","KSh 15,799"
29,"Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 49,800","Vitron 43"" Inch FULL HD Frameless Smart Androi...","KSh 22,299"
30,"Samsung UA32T5300AU,32 Inch Smart HD TV Series...","KSh 24,999","Vitron 5568US 55"" Inch FRAMELESS 4K UHD Androi...","KSh 44,999"
31,Samsung 75BU8100 75 Inches Crystal UHD 4K Smar...,"KSh 187,799","Vitron HTC3218 -32""inch Frameless Digital LED ...","KSh 11,699"
32,Samsung UA75BU8100 75 Inches Crystal UHD 4K Sm...,"KSh 177,799","Vitron HTC3200S,Frameless 32Inch Smart Android...","KSh 16,499"
33,Samsung 55BU8000 55'' Crystal UHD 4K Smart LED...,"KSh 73,199",Vitron 32 Inch Frameless Smart Android TV Inbu...,"KSh 13,878"
34,Samsung 55'' CYSTAL ULTRA HD 4K SMART CURVED T...,"KSh 95,000","Vitron HTC3218, Frameless 32"" Inch Digital HD ...","KSh 11,999"
35,"Samsung 55AU7000, 55 INCH 4K UHD Smart TV, You...","KSh 64,999","Vitron HTC3200S,32 Inch Smart Android TV,Netfl...","KSh 14,899"
36,"Samsung 43AU7000, 43 INCH 4K UHD Smart TV, You...","KSh 46,999","Vitron 32"" Inch Smart Android Tv,Frameless, Ne...","KSh 14,900"
37,"Samsung UA55BU8000, 55 Inch Crystal UHD 4K Sma...","KSh 84,899","Vitron HTC3218 -Frameless 32"" Inches LED Digit...","KSh 11,599"
38,Samsung 65QN800B 65 Inches Neo QLED 8K Smart T...,"KSh 768,000","Vitron 43"" Inch FULL HD Smart Android TV+Youtu...","KSh 23,599"
39,Samsung 75'' Neo QLED 8K SMART TV (NEW MODEL 2...,"KSh 800,000","Vitron 22"" Inches LED DIGITAL FULL SCREEN TV A...","KSh 8,499"

In [8]:
import numpy as np
#converting a string into an integer
#substring is like a compenent of  string. Like what makes up a string. Words that make a string


# On the comparison dataframe, we need to find the price difference of the items
# The problem is all the prices come in a string ("KSH 20,000")
# We need to have an interger from the above string. Something like 20000, without the ","

string = "Ksh 20,000"
subString = string.split(" ")
print(subString)
subString[1]

['Ksh', '20,000']

'20,000'

In [9]:
variable  = subString[1]
newVariant = int(variable.replace(",",""))

print(newVariant)

print(type(newVariant))

20000
<class 'int'>

In [10]:
#difference btwn samsung and vitron
#Get the difference in prices from the item you had scrapped from the web

samsung_price = list(pricelist)

vitron_price = list(vitronPrices)

samsung_price

['KSh 40,999',
 'KSh 25,799',
 'KSh 24,899',
 'KSh 53,899',
 'KSh 132,599',
 'KSh 55,000',
 'KSh 70,499',
 'KSh 49,000',
 'KSh 58,880',
 'KSh 60,000',
 'KSh 35,899',
 'KSh 45,000',
 'KSh 46,999',
 'KSh 25,699',
 'KSh 45,599',
 'KSh 42,499',
 'KSh 41,999',
 'KSh 68,799',
 'KSh 24,899',
 'KSh 41,999',
 'KSh 92,999',
 'KSh 59,489',
 'KSh 93,499',
 'KSh 89,995',
 'KSh 69,999',
 'KSh 179,995',
 'KSh 218,000',
 'KSh 49,999',
 'KSh 87,599',
 'KSh 49,800',
 'KSh 24,999',
 'KSh 187,799',
 'KSh 177,799',
 'KSh 73,199',
 'KSh 95,000',
 'KSh 64,999',
 'KSh 46,999',
 'KSh 84,899',
 'KSh 768,000',
 'KSh 800,000']

In [17]:
#just for example
df = pd.DataFrame({'Samsung': [10, 15, 20], 'Hisense': [12, 18, 25]})

df

   Samsung  Hisense
0       10       12
1       15       18
2       20       25

In [18]:
df['price_difference'] = df['Samsung'] - df['Hisense']

print(df)

   Samsung  Hisense  price_difference
0       10       12                -2
1       15       18                -3
2       20       25                -5

In [30]:
#samsung
prices_int = [int(price.replace('KSh ', '').replace(',', '')) for price in pricelist]

print(prices_int)

[40999, 25799, 24899, 53899, 132599, 55000, 70499, 49000, 58880, 60000, 35899, 45000, 46999, 25699, 45599, 42499, 41999, 68799, 24899, 41999, 92999, 59489, 93499, 89995, 69999, 179995, 218000, 49999, 87599, 49800, 24999, 187799, 177799, 73199, 95000, 64999, 46999, 84899, 768000, 800000]

In [31]:
#vitron
prices_int1 = [int(price.replace('KSh ', '').replace(',', '')) for price in vitronPrices]

print(prices_int1)

[22499, 11499, 13699, 11699, 10299, 13295, 15999, 22399, 20999, 13998, 13999, 12599, 15999, 13399, 34999, 15999, 22445, 11449, 23499, 23499, 12999, 22999, 13699, 11999, 15790, 14499, 11890, 10399, 15799, 22299, 44999, 11699, 16499, 13878, 11999, 14899, 14900, 11599, 23599, 8499]

In [35]:
df = pd.DataFrame({'Samsung':prices_int, 'Vitron':prices_int1})

df

    Samsung  Vitron
0     40999   22499
1     25799   11499
2     24899   13699
3     53899   11699
4    132599   10299
5     55000   13295
6     70499   15999
7     49000   22399
8     58880   20999
9     60000   13998
10    35899   13999
11    45000   12599
12    46999   15999
13    25699   13399
14    45599   34999
15    42499   15999
16    41999   22445
17    68799   11449
18    24899   23499
19    41999   23499
20    92999   12999
21    59489   22999
22    93499   13699
23    89995   11999
24    69999   15790
25   179995   14499
26   218000   11890
27    49999   10399
28    87599   15799
29    49800   22299
30    24999   44999
31   187799   11699
32   177799   16499
33    73199   13878
34    95000   11999
35    64999   14899
36    46999   14900
37    84899   11599
38   768000   23599
39   800000    8499

In [40]:
df['price_difference'] = df['Samsung'] - df['Vitron']

print(df)

mypricediff = df['Samsung'] - df['Vitron']

mypricediff

    Samsung  Vitron  price_difference
0     40999   22499             18500
1     25799   11499             14300
2     24899   13699             11200
3     53899   11699             42200
4    132599   10299            122300
5     55000   13295             41705
6     70499   15999             54500
7     49000   22399             26601
8     58880   20999             37881
9     60000   13998             46002
10    35899   13999             21900
11    45000   12599             32401
12    46999   15999             31000
13    25699   13399             12300
14    45599   34999             10600
15    42499   15999             26500
16    41999   22445             19554
17    68799   11449             57350
18    24899   23499              1400
19    41999   23499             18500
20    92999   12999             80000
21    59489   22999             36490
22    93499   13699             79800
23    89995   11999             77996
24    69999   15790             54209
25   179995   14499            165496
26   218000   11890            206110
27    49999   10399             39600
28    87599   15799             71800
29    49800   22299             27501
30    24999   44999            -20000
31   187799   11699            176100
32   177799   16499            161300
33    73199   13878             59321
34    95000   11999             83001
35    64999   14899             50100
36    46999   14900             32099
37    84899   11599             73300
38   768000   23599            744401
39   800000    8499            791501

0      18500
1      14300
2      11200
3      42200
4     122300
5      41705
6      54500
7      26601
8      37881
9      46002
10     21900
11     32401
12     31000
13     12300
14     10600
15     26500
16     19554
17     57350
18      1400
19     18500
20     80000
21     36490
22     79800
23     77996
24     54209
25    165496
26    206110
27     39600
28     71800
29     27501
30    -20000
31    176100
32    161300
33     59321
34     83001
35     50100
36     32099
37     73300
38    744401
39    791501
dtype: int64

In [44]:
#completed_dataframe 

df4 = pd.DataFrame({'Brand Samsung': itemlist, 'Price Samsung': pricelist, "Brand Vitron": vitronTvs, "Price Vitron":vitronPrices, " Price Difference": mypricediff})
df4

,Brand Samsung,Price Samsung,Brand Vitron,Price Vitron,Price Difference
0,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 40,999","Vitron 4368FS 43"" Full HD Smart Android TV Net...","KSh 22,499",18500
1,"Samsung UA32T5300AU,32"" Inch Smart HD TV Serie...","KSh 25,799","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 11,499",14300
2,"Samsung UA32T5300AU,32"" Inch Smart HD TV HDR 5...","KSh 24,899","Vitron Smart 32"" FRAMELESS Android TV HTC3200...","KSh 13,699",11200
3,"Samsung 50AU7000, 50 INCH 4K UHD Smart TV, Yo...","KSh 53,899","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,699",42200
4,Samsung UA65BU8100 65 Inches Crystal UHD 4K Sm...,"KSh 132,599","Vitron HTC3218F FRAMELESS 32"" HD LED Digital ...","KSh 10,299",122300
5,"Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 55,000","Vitron HTC3200S,32 Inch Frameless Smart Androi...","KSh 13,295",41705
6,Samsung 50BU8000 50 Inches Crystal UHD 4K Smar...,"KSh 70,499","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,999",54500
7,"Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 49,000","Vitron 4388FS,43"" Inch FRAMELESS Smart Android...","KSh 22,399",26601
8,"Samsung UA50AU7000, 50 INCH 4K UHD Smart TV, Y...","KSh 58,880","Vitron 4388FS,43"" Inches Frameless Smart Andro...","KSh 20,999",37881
9,"Samsung 50'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 60,000","Vitron 32"" Inch LED Digital HD TV + 6 Free Gifts","KSh 13,998",46002
10,"Samsung 40T5300 - 40"" FULL HD SMART TV, NETFLI...","KSh 35,899","Vitron HTC3200S,32 Inch FRAMELESS Smart Androi...","KSh 13,999",21900
11,"Samsung 43'' FULL HD SMART TV, NETFLIX,YOUTUBE...","KSh 45,000",Vitron HTC3218 32 Inch Frameless LED Digital H...,"KSh 12,599",32401
12,"Samsung 43T5300- 43"" INCH Smart LED Full HD T...","KSh 46,999","Vitron 32""Inches Smart Android TV - Black + FR...","KSh 15,999",31000
13,"Samsung UA32T5300AU,32 Inch Smart TV HDR TV Se...","KSh 25,699","Vitron 32"" LED Digital HD TV Black + FREE 7 Gifts","KSh 13,399",12300
14,Samsung 43T5300 43 Inch Smart FHD TV Ultra Cle...,"KSh 45,599","Vitron 50"" Inch FRAMELESS BLUETOOTH INBUILT DE...","KSh 34,999",10600
15,"Samsung 43T5300 43'' FULL HD SMART TV, Netflix...","KSh 42,499","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,999",26500
16,Samsung 43 INCH 43T5300 Smart LED Full HD TV -...,"KSh 41,999","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 22,445",19554
17,"Samsung 55AU7000 55'' UHD CRYSTAL 4K Smart TV,...","KSh 68,799","Vitron HTC3218 HD Frameless 32"" LED Digital TV...","KSh 11,449",57350
18,"Samsung 32"" Smart Full HD TV Series 5 Inbuilt ...","KSh 24,899","Vitron 4388FS,43"" Inch Frameless Smart Android...","KSh 23,499",1400
19,Samsung 40T5300 40 Inch Smart FHD TV Ultra Cle...,"KSh 41,999","Vitron 43"" Inch-FRAMELESS SMART ANDROID TV,NET...","KSh 23,499",18500
20,Samsung 55AU8000 55'' CRYSTAL UHD 4K SMART TV ...,"KSh 92,999","Vitron HTC3218,32"" Inch Frameless HD Digital L...","KSh 12,999",80000
21,"Samsung 43'' 4K CRYSTAL ULTRA HD SMART TV, NET...","KSh 59,489","Vitron 4388FS-43"" Inch Frameless Smart Android...","KSh 22,999",36490
22,Samsung 65 Inch 65AU7000 UHD 4K Flat Smart TV...,"KSh 93,499","Vitron HTC3200S,32"" Inch Frameless Smart Andro...","KSh 13,699",79800
23,Samsung 55AU7000 55 INCH 4K UHD Smart TV (2021...,"KSh 89,995","Vitron 3218,32"" Inch Frameless Digital TV Mult...","KSh 11,999",77996
24,Samsung 55AU8000 CRYSTAL UHD 4K SMART TV [ 202...,"KSh 69,999","Vitron 32"" Inch Frameless Smart Android TV Inb...","KSh 15,790",54209
25,"Samsung UA75BU8000UX - 4K, CRYSTAL UHD, SMART ...","KSh 179,995","Vitron HTC3200S FRAMELESS 32"" Inches Smart And...","KSh 14,499",165496
26,Samsung 55QN90B 55 Inches Neo QLED 4K Smart TV...,"KSh 218,000","Vitron HTC3218, Frameless 32 Inch Digital LED ...","KSh 11,890",206110
27,Samsung 43AU7000 43 INCH 4K UHD Smart TV (2021...,"KSh 49,999",Vitron 24 INCH - Digital LED TV+FREE DTV Aeria...,"KSh 10,399",39600
28,Samsung 55Q60BAU 55'' Class Q60B QLED UHD 4K S...,"KSh 87,599","Vitron HTC3200S,Frameless 32 Inch Smart Androi...","KSh 15,799",71800
29,"Samsung 43'' CRYSTAL 4K ULTRA HD SMART TV,NETF...","KSh 49,800","Vitron 43"" Inch FULL HD Frameless Smart Androi...","KSh 22,299",27501
30,"Samsung UA32T5300AU,32 Inch Smart HD TV Series...","KSh 24,999","Vitron 5568US 55"" Inch FRAMELESS 4K UHD Androi...","KSh 44,999",-20000
31,Samsung 75BU8100 75 Inches Crystal UHD 4K Smar...,"KSh 187,799","Vitron HTC3218 -32""inch Frameless Digital LED ...","KSh 11,699",176100
32,Samsung UA75BU8100 75 Inches Crystal UHD 4K Sm...,"KSh 177,799","Vitron HTC3200S,Frameless 32Inch Smart Android...","KSh 16,499",161300
33,Samsung 55BU8000 55'' Crystal UHD 4K Smart LED...,"KSh 73,199",Vitron 32 Inch Frameless Smart Android TV Inbu...,"KSh 13,878",59321
34,Samsung 55'' CYSTAL ULTRA HD 4K SMART CURVED T...,"KSh 95,000","Vitron HTC3218, Frameless 32"" Inch Digital HD ...","KSh 11,999",83001
35,"Samsung 55AU7000, 55 INCH 4K UHD Smart TV, You...","KSh 64,999","Vitron HTC3200S,32 Inch Smart Android TV,Netfl...","KSh 14,899",50100
36,"Samsung 43AU7000, 43 INCH 4K UHD Smart TV, You...","KSh 46,999","Vitron 32"" Inch Smart Android Tv,Frameless, Ne...","KSh 14,900",32099
37,"Samsung UA55BU8000, 55 Inch Crystal UHD 4K Sma...","KSh 84,899","Vitron HTC3218 -Frameless 32"" Inches LED Digit...","KSh 11,599",73300
38,Samsung 65QN800B 65 Inches Neo QLED 8K Smart T...,"KSh 768,000","Vitron 43"" Inch FULL HD Smart Android TV+Youtu...","KSh 23,599",744401
39,Samsung 75'' Neo QLED 8K SMART TV (NEW MODEL 2...,"KSh 800,000","Vitron 22"" Inches LED DIGITAL FULL SCREEN TV A...","KSh 8,499",791501